<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="avu">

    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find avu_controller)/config/avu_controllers.yaml</parameters>
        </plugin>
        <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo>

    <gazebo reference="camera_link">
      <sensor name="camera-wrist" type="camera">
        <camera>
          <horizontal_fov>1.25</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.01</near>
            <far>15</far>
          </clip>
          <optical_frame_id>camera_link_optical</optical_frame_id>
        </camera>
        <always_on>1</always_on>
        <update_rate>20</update_rate>
        <visualize>true</visualize>
        <topic>camera_wrist/image</topic>
      </sensor>
    </gazebo>

    <gazebo reference="camera_front_link">
      <sensor name="camera-front" type="camera">
        <camera>
          <horizontal_fov>1.25</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.01</near>
            <far>15</far>
          </clip>
          <optical_frame_id>camera_front_link_optical</optical_frame_id>
        </camera>
        <always_on>1</always_on>
        <update_rate>20</update_rate>
        <visualize>true</visualize>
        <topic>camera_front/image</topic>
      </sensor>
    </gazebo>

    <gazebo reference="camera_top_link">
      <sensor name="camera-top" type="rgbd_camera">
        <camera>
          <horizontal_fov>1.25</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.01</near>
            <far>15</far>
          </clip>
          <optical_frame_id>camera_top_link_optical</optical_frame_id>
        </camera>
        <always_on>1</always_on>
        <update_rate>20</update_rate>
        <visualize>true</visualize>
        <topic>camera_top</topic>
      </sensor>
    </gazebo>

</robot>